h2,
p {
    text-align: center;
}

.container {
    border: none;
    font-size: 0;
    height: 720px;
    margin: auto;
    outline: 2px solid black;
    padding: 0;
    position: relative;
    top: 20px;
    width: 720px;
}

.grid-form {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.grid {
    border: none;
    display: inline-block;
    gap: 0;
    margin: 0;
    outline: 1px solid black;
    padding: 0;
}

.change {
    background-color: black;
}