h2,
p {
    text-align: center;
}

.container {
    border: none;
    font-size: 0;
    height: 720px;
    margin: auto;
    outline: 2px solid black;
    padding: 0;
    position: relative;
    top: 20px;
    width: 720px;
}

.colorChange {
    display: flex;
    gap: 10px;
    justify-content:center;
    padding: 10px 0;
    max-width: 200px;
    margin: 0 auto;
}

.grid-form {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.grid {
    border: none;
    display: inline-block;
    margin: 0;
    outline: 1px solid black;
    padding: 0;
}

.change {
    background-color: black;
}


@media (max-width: 850px) {
    .container {
      width: 400px;
      height: 400px;
    }
  }
  

@media (max-width: 650px) {
    .container {
        height: 300px;
        width: 300px;
    }
}